@media only screen and (max-width:600px){
    .burger{
        margin-top: 0;
    }
    .line{
        width: 25px;
        border-radius: 25px;
        margin-right: 10px;
        padding: -5px;
    }  
    .logo img{
        width: 45px;
        margin-top: 5px;
    }
    .rightnav{
        width: auto;
        padding: 2px;
        border-radius: 1px;
        margin: 6px;
        font-size: 8px;
    }
    .navlist li a{
        font-size: 15px;
        padding: 0px;
        margin: 0px;
    }
    .btn{
        font-size: 15px;
        width: 66px;
        padding: 0px;
        border-radius: 4px;
    }
    .h-nav{
        height: 41px;
    }
    .boxmain{
        padding: 10px 2px 10px 1px;
        max-width: 100%;
    }
    .textbig{
        font-size: 24px;   
        margin: auto;
        
    }
    .textsmall{
        font-size: 10px;
    }
    .tagline{
        font-size: 15px;
        font-size-adjust: initial;
        /* font-family: cursive; */
        font-style: italic;
        font-family: serif;
        align-items: center;
        text-align: center;
        background: #bdd0fd;
        color: black;
        width: 154px;
        border-radius: 5px;
        margin: auto;
        font-weight: bold;
    }
    .secondhalf img{
        float: left;
        border-radius: 5px;
        border: 0.5px solid white;
        margin: 5px;
    
    }
    .section{
        width: 100%;
        padding: 2px;
        margin: auto;
    }
    .tumbnial{
       margin: auto;
    }
    .tumbnial img{
        width: 240px;
        height: 150px;
        border: 1px solid black;
        border-radius: 15px;
    }
    .Secheading{
        font-size: 18px;
    }
    .secsubtext{
        font-size: 15px;
        color: black;
    }
    }