@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar {
    display: flex;
    text-align: center;
    /* justify-content: center; */
    /* align-content: center; */
    cursor: pointer;
    font-size: 20px;
    background: rgba(0,0,0,0.1) url(../img/menu-bg.jpg);
    position: sticky;
}
    .navlist{
        width: 70%;
        display: flex;
        align-items: center;
        justify-items: center;
       
    }
    .logo{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 33%;
        border: azure;
        border-radius: 50%;
        
    }
    .navlist li{
        list-style: none;
        padding: 26px 20px;
        font-size: 20px;
        
    }
    .navlist li a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .navlist li a:hover{
        text-decoration: none;
        color: rgb(128, 101, 248);
        font-size: 18px
        
    }
    .rightnav {
        width: 73%;
        text-align: right;
        text-align: right;
        align-content: center;
        justify-content: center;
        padding: 10px;

}    
#search{
    padding: 5px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 10px;
}

.background {
    background: rgba(0,0,0,0.1) url('../img/bg.jpg');
    /* background-color: black; */
    background-size: cover;
    background-blend-mode: darken;
}
.boxmain {
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 94%;
    margin: auto;
    padding-bottom: 45px;
}
.firstsection{
    height: 25%;
    display: flex;

}
.firsthalf{
width: 80%;
display: flex;
justify-content: center;
flex-direction: column;
}
.secondhalf {
    width: 63%;
}
.secondhalf img {
    width: 23%;
    padding: 8px;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-left: 86px;
}
.textbig {
    font-size: 40px;
    font-family: monospace;
    color: yellow;
}
.tagline {
    font-size: 26px;
    font-size-adjust: initial;
    font-family: cursive;   
    font-style: italic;
}
.textsmall {
    font-size: 15px;
    text-align: justify;
    font-family: cursive;
}
}
.btn{
    padding: 8px 20px;
    margin: 3px;
    border: 2px solid white; 
    border-radius: 7px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 3px 10px;
    margin: 3px;
    border: 2px solid white; 
    border-radius: 7px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}


.section {
    text-align: justify;
    height: auto;
    display: flex;
    max-width: 80%;
    padding-top: 31px;
    margin: auto;
    text-size-adjust: none;
    padding-bottom: 28px;
}
.left {
   flex-direction: row-reverse;
}
.paras {
    padding: 13px 38px;
}

.Secheading{
    font-size: 30px;
    color: blue;
    font-family: monospace;
    font-weight: 200;
    padding-bottom: 10px;
}
.secsubtext{
    font-size: 18px;
    color: gray;
   font-family: monospace;
}   
.tumbnial img{
    border: 2px solid black;
    border-radius: 26px; 
    justify-items: center;
    margin-top: 25px;  
    width: 300px;
    height: 200px;  
}
.contact{
    background-color: #f4f4f4;
    height: auto;
}
.textcenter{
text-align: center;
padding-top: 5px;
font-size: 35px;
font-style: initial;
color: grey;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    width: 40%;
    margin: auto;
}
.form-input {
    padding: 9px 3px 9px 5px; 
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 6px;
    width: 100%;
    margin-top: 19px;
}
.btn{
    padding: 8px 20px;
    margin: 3px;
    border: 2px solid white; 
    border-radius: 7px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}
.btndark {
    padding: 3px 15px;
    margin: 3px;
    border: 2px solid blgray;
    border-radius: 5px;
    font-size: 19px;
    background: none;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer{
    max-width: 100%;
    text-align: center;
    position: sticky;
    background-color: lightslategray;
}
.textfooter{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    color: white;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 8px;
}
.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 45px;

}
.top{
    border-radius: 63%;
    padding: 14px;
    border: 2px solid;
        background: repeating-linear-gradient(45deg, #3e80e2, transparent 100px);
    /* page-break-before: always; */
    color: white;
    display: block;
    max-width: 10px;
    
   
}
@media only screen and (max-width:1077px){
    .navlist{
        flex-direction: column;
        background-color: transparent;
        padding-top: 0px;
    }
    .navlist li{
        padding: 8px 6px;
    }
    .navbar{
        flex-direction: column;
        height: 368px;
        transition: 0.7s ease-in-out;
    }
    .rightnav{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .line{
        width: 30px;
        border-radius: 20px;
        margin: 5px;
    }
    .h-nav{
        height: 64px;
    }
    .v-class{
        opacity: 0;
    }
    .boxmain{
        flex-direction: column-reverse;
        padding-top: 26px;
    }
    .section{
        flex-direction: column-reverse;
       
    }
    .tumbnial{
        margin: auto;
        padding: 0;
    }
    .paras{
        padding: 1px;
    }
    .form{
        width: 80%;
    }
    .Secheading{
        text-align: center;
        font-size: 25px;

    }.secondhalf img{
        margin: auto;
    }.textbig{
        font-size: 24px;
        text-align: center;
    }.navbar li a{
        font-size: 21px;
    }.logo img{
        width: 65px;
    }.navbar li a:hover{
        font-size: 21px;
        color: skyblue;
    }
}
@media only screen and (max-width:650px){
.burger{
    margin-top: 0;
}
.line{
    width: 25px;
    border-radius: 25px;
    margin-right: 10px;
    padding: -5px;
}  
.logo img{
    width: 45px;
    margin-top: 5px;
}
.rightnav{
    width: auto;
    padding: 2px;
    border-radius: 1px;
    margin: 6px;
    font-size: 8px;
}
.navlist li a{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.btn{
    font-size: 15px;
    width: 66px;
    padding: 0px;
    border-radius: 4px;
}
.h-nav{
    height: 41px;
}
.boxmain{
    padding: 10px 2px 10px 1px;
    max-width: 100%;
}
.textbig{
    font-size: 18px;
}
.textsmall{
    font-size: 10px;
}
.tagline{
    font-size: 12px;
    text-align: center;
}
.secondhalf img{
    width: 90%;
    border-radius: 10px;
    border: 1px solid white;
    padding:0px;
    margin: auto;
}
.section{
    width: 100%;
    padding: 2px;
    margin: auto;
}
.tumbnial{
   margin: auto;
}
.tumbnial img{
    width: 250px;
    height: 150px;
    border: 1px solid black;
    border-radius: 15px;
}
.Secheading{
    font-size: 18px;
}
.secsubtext{
    font-size: 15px;
    color: black;
}
}




